input {
    padding: 5px;
}
#custom_error {
    position: absolute;
    padding-left: 735px;
    min-width: 1000px;
}
.error-my {
    padding-top: 5px !important;
    position: absolute;
    width: 600px;
    line-height: 1;
    min-width: 900px;
    background:none !important;
}
    input.error {
        border: 2px solid #99182c;
    }

span.arrow {
    height: 17px;
    background: url('http://i45.tinypic.com/f9ifz6.png') no-repeat center left;
    top: 4px;
}

.error {
    color: #939393;
    padding: 10px 5px 1px 5px;
    background: url(del.png) no-repeat scroll 7px 10px;
    background-position: right center;
}
.input-block-level {
    display: block;
    width: 100%;
    min-height: 28px;
    // Make inputs at least the height of their button counterpart .box-sizing(border-box);
    // Makes inputs behave like true block-level elements
}



