{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">   

    {% if user.is_authenticated %} 
    <div class="row">
     <div class="col-md-1">
        <img src="{{ user.image_id }}" width="50px" height="50px">
      </div>
    </div>
    {% endif %}

    <p><button class="btn btn-primary btn-large" id="registerNewUser">Register &raquo;</button></p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Sign in &raquo;</a></p>

</div>

<!--Upload Form-->
<form method="post" id="fileinfo" name="fileinfo" onsubmit="return submitForm();">{{ csrf_token }}
        <label>Select a file:</label><br>
        <input type="file" name="picture_id" required />
        <input type="file" name="avatar" required />
    </form>

<div class="row">
    <div class="col-md-8">
        
            <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6LdRAmIUAAAAAMuzveig6oGUVTG60xMCpx-2dBTd"></div>
    </div>
</div>
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script>
    $(document).ready(function(){
     function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
   
    $('#registerNewUser').click(function () {
    $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        }
                    }

                });
        var fd = new FormData(document.getElementById("fileinfo"));
        fd.append("username", "testtest");
        fd.append("first_name", "WEBUPLOAD");
        fd.append("last_name", "WEBUPLOAD");
        fd.append("postal_code", "WEBUPLOAD");
        fd.append("country", "WEBUPLOAD");
        fd.append("phone", "WEBUPLOAD");
        fd.append("bday", "2000-12-12");
        fd.append("adress", "WEBUPLOAD");
        fd.append("email", "WEBUPLOAD");
        fd.append("password", "testtest");
        fd.append("recapcha", grecaptcha.getResponse());
        fd.append("csrfmiddlewaretoken", '{{ csrf_token }}');
        $.ajax({
           url: "{% url 'register' %}",
           type: "post", // or "get"
           
              processData: false,  // tell jQuery not to process the data
              contentType: false,
           dataType: 'json',
           data: fd,
           success: function(data) {
           alert(data['result'])
    }});
     }); });
</script>
{% endblock %}
