{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">   

    {% if user.is_authenticated %} 
    <div class="row">
     <div class="col-md-1">
        <img src="{{ user.image_id }}" width="50px" height="50px">
      </div>
    </div>
    {% endif %}
    <form>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="email" class="form-control" id="username" placeholder="username">
  </div>
  <div class="form-group">
    <label for="first_name">first_name</label>
    <input type="email" class="form-control" id="first_name" placeholder="first_name">
  </div>
  <div class="form-group">
    <label for="last_name">last_name</label>
    <input type="email" class="form-control" id="last_name" placeholder="last_name">
  </div>
  <div class="form-group">
    <label for="postal_code">postal_code</label>
    <input type="email" class="form-control" id="postal_code" placeholder="postal_code">
  </div>
  <div class="form-group">
    <label for="country">country</label>
    <input type="email" class="form-control" id="country" placeholder="country">
  </div>
  <div class="form-group">
    <label for="phone">phone</label>
    <input type="email" class="phone" id="phone" placeholder="phone">
  </div>
  <div class="form-group">
    <label for="bday">bday</label>
    <input type="email" class="form-control" id="bday" placeholder="bday">
  </div>
  <div class="form-group">
    <label for="email">email</label>
    <input type="email" class="form-control" id="email" placeholder="email">
  </div>
  <div class="form-group">
    <label for="password">password</label>
    <input type="email" class="form-control" id="password" placeholder="password">
  </div>
  <div class="form-group">
    <label for="adress">adress</label>
    <textarea class="form-control" id="adress" rows="3"></textarea>
  </div>
</form>
<!--Upload Form-->
<form method="post" id="fileinfo" name="fileinfo" onsubmit="return submitForm();">
        <label>Select a file:</label><br>
        <input type="file"  class="form-control-file" name="picture_id" required />
        <input type="file"  class="form-control-file" name="avatar" required />
    </form>

<div class="row">
    <div class="col-md-8">
        
            <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6LdRAmIUAAAAAMuzveig6oGUVTG60xMCpx-2dBTd"></div>
    </div>
</div>
    <p><button class="btn btn-primary btn-large" id="registerNewUser">Register &raquo;</button></p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Sign in &raquo;</a></p>

</div>

<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script>
    $(document).ready(function(){
     function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
   
    $('#registerNewUser').click(function () {
    $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        }
                    }

                });
        var fd = new FormData(document.getElementById("fileinfo"));
        fd.append("username", $('#username').val());
        fd.append("first_name", $('#first_name').val());
        fd.append("last_name", $('#last_name').val());
        fd.append("postal_code", $('#postal_code').val());
        fd.append("country", $('#country').val());
        fd.append("phone", $('#phone').val());
        fd.append("bday", "2000-12-12");
        fd.append("adress", $('#adress').val());
        fd.append("email", $('#email').val());
        fd.append("password", $('#password').val());
        fd.append("recapcha", grecaptcha.getResponse());
        fd.append("csrfmiddlewaretoken", '{{ csrf_token }}');
        $("#registerNewUser").prop("disabled",true);
        $.ajax({
           url: "{% url 'register' %}",
           type: "post", // or "get"
           
              processData: false,  // tell jQuery not to process the data
              contentType: false,
           dataType: 'json',
           data: fd,
           success: function(data) {
           alert(data['result'])
           $("#registerNewUser").prop("disabled",false);
    }});
     }); });
</script>
{% endblock %}
