{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}

<h2 style="color:#fff">{{ title }}</h2>
		<!-- Background Image -->
		<div class="bg-img">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->
{% block remind %}{% endblock remind %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Password recovery...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Check your email after sending!</h3>
        <form method="post" id="mailform" name="mailform" onsubmit="return submitForm();" class="registration-form">
          <div class="form-group">
            <label for="recipient-email" class="col-form-label">Email:</label>
            <input type="text" class="form-control" id="email" name="email">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  id="send_email">Send request</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="col-md-8">
        <section id="loginForm">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <h4 style="color:#fff">Use a local account to log in.</h4>
                <hr />
                <div class="form-group">
                    <label for="id_username" class="col-md-2 control-label">User name</label>
                    <div class="col-md-10">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        {{ form.password }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/development/" />
                        <input type="submit" value="Log in" class="btn btn-piramiry" />
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" data-whatever="">Forgot your password?</button>
                    </div>
                </div>
                {% if form.errors %}
                <p class="validation-summary-errors">Please enter a correct user name and password.</p>
                {% endif %}
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
        <script src="{% static 'app/scripts/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'app/scripts/bootstrap.min.js' %}"></script>
        <script src="{% static 'app/scripts/retina-1.1.0.min.js' %}"></script>
        <script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
        <script src="{% static 'app/scripts/jquery.validate.unobtrusive.min.js' %}"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.js"></script>
<script>
            var s = $("#mailform").validate({
                    rules: {
                    

                        email: {
                            required: true,
                            email: true
                        },
                    },
    });
</script>
<script>    
    $(document).ready(function(){
    
    });
     function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
   
    $("#send_email").click(function () {
     s.valid();
         if (!(s.element("#email"))) {
            return;
        };
        $.ajaxSetup({
                        beforeSend: function(xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                            }
                        }
        });
        var fd = new FormData();
        fd.append("email", $('#email').val());
        fd.append("csrfmiddlewaretoken", '{{ csrf_token }}');
        $.ajax({
           url: "{% url 'passchange_req' %}",
           type: "post", // or "get"
           
              processData: false,  // tell jQuery not to process the data
              contentType: false,
           dataType: 'json',
           data: fd,
           success: function(data) {
           alert(data['result'])
         }});
     }); 
</script>

{% endblock %}
